@model RecipeViewModel
@{
    ViewData["Title"] = "Recipes";
}

<table class="table table-hover">
    <thead>
        <tr>
            <td>Recipe Name</td>
            <td>Ingredients</td>
            <td>Meal Type</td>
            <td></td>
        </tr>
    </thead>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td onclick="location.href = '@(Url.Action("ViewEdit", "Recipe", new {recipeId = item.Id }))'">@item.Name</td>
            @{
             var allIngridients = string.Join(", ", item.Ingredients);
            }
            <td onclick="location.href = '@(Url.Action("ViewEdit", "Recipe", new {recipeId = item.Id }))'">@allIngridients</td>
            <td onclick="location.href = '@(Url.Action("ViewEdit", "Recipe", new {recipeId = item.Id }))'">@item.MealType</td>
            <td onclick="location.href = '@(Url.Action("DeleteRecipe", "Recipe", new {deletedRecipeId = item.Id }))'">
                Delete
            </td>
        </tr>
    }
</table>
